@import "reset";

.wrapper {
  max-width: $page-content;
  margin: 0 auto;
  padding: 0 8px;
}

input {
  outline: none;
  padding: 16px 32px;
  background: #FFFFFF;
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  border: none;
  color: #000000;
}
.skeleton-loader:empty {
  width: 100%;
  cursor: progress;
  background:
          linear-gradient(0.25turn, transparent, #fff, transparent),
          linear-gradient(#eee, #eee),
          radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
          linear-gradient(#eee, #eee);
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px;
  animation: shine 1s infinite;
}
@keyframes shine {
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}