$primary: rgb(9, 105, 218);
//$primary-hover: ;
//$primary-active: ;
$secondary: #000000;
//$secondary-hover: ;
//$secondary-active: ;
$text: #000000;
$text-white: #FFF;
$text-secondary: rgba(189, 189, 189, 1);

$spinner-color-light: white;
$spinner-color-dark: #2c3e50;
$spinner-size: 30px;
$spinner-amount: 12;

$grey-color: #C4C4C4;

$bg-color: #fafafa;
$border-radius-primary: 8px;
$border-radius-secondary: 10px;
$border-radius-additional: 15px;

$page-content: 1200px;